sudo: false
language: node_js
branches:
  only:
    - master
cache:
  directories:
    - node_modules
before_install:
  - npm update
install:
  - npm install
script:
  - npm test
after_success:
  - bash <(curl -s https://codecov.io/bash)
